<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>51335589814-4k8qmmimkfrogor7kuetrapuu89kcfrg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.51335589814-4k8qmmimkfrogor7kuetrapuu89kcfrg</string>
	<key>API_KEY</key>
	<string>AIzaSyCcxWY4kK7jCuu-sB0gfyqH6Fe7LZIRd6I</string>
	<key>GCM_SENDER_ID</key>
	<string>51335589814</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>conorandrews.Market</string>
	<key>PROJECT_ID</key>
	<string>marketca-56bb7</string>
	<key>STORAGE_BUCKET</key>
	<string>marketca-56bb7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:51335589814:ios:2bf17e38d394aff6965b17</string>
</dict>
</plist>